body {
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.titulo {
    font-family: sans-serif;
    color: blueviolet;
    text-align: center;
}

.nav-enlace {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff7300;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nav-enlace:hover {
    background: rgb(181, 140, 219);
}

.form_iniciosesion {
    width: 500px;
    background-color: #ff7300;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.form_iniciosesion h4 {
    font-size: 22px;
}

.control {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form_iniciosesion .boton {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}